---
import Content from './Content'
---

<section
  id='header'
  class='flex flex-1 flex-col margin-auto justify-center w-full max-w-3xl'
>
  <h1 class='text-5xl font-bold text-white'>Generate avatar</h1>
  <Content client:only />
</section>
