---
import Icons from './Icons'
---

<nav class='flex w-full text-white p-5 bg-[#222222] justify-between'>
  <h2 class='text-3xl font-bold'>PixelAvatars</h2>
  <div class='flex justify-center items-center gap-3'>
    <a href='https://github.com/ikurotime'>
      <Icons name='github' />
    </a>
    <a href='https://twitter.com/ikurotime'>
      <Icons name='twitter' />
    </a>
  </div>
</nav>
